
<div class="shop-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        
  <article class="page-content">
    
    <h1>Shop</h1>
    
<div class="wp-block-media-text alignwide is-stacked-on-mobile" style="grid-template-columns:20% auto"><figure class="wp-block-media-text__media"><img loading="lazy" width="1517" height="1517" src="https://www.hollandbaroque.com/wp-content/uploads/2021/10/BK-Vierkant-nieuw-web.jpg" alt="" class="wp-image-5597 size-full" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/10/BK-Vierkant-nieuw-web.jpg 1517w, https://www.hollandbaroque.com/wp-content/uploads/2021/10/BK-Vierkant-nieuw-web-1200x1200.jpg 1200w, https://www.hollandbaroque.com/wp-content/uploads/2021/10/BK-Vierkant-nieuw-web-250x250.jpg 250w, https://www.hollandbaroque.com/wp-content/uploads/2021/10/BK-Vierkant-nieuw-web-768x768.jpg 768w" sizes="(max-width: 1517px) 100vw, 1517px" /></figure><div class="wp-block-media-text__content">
<h3 id="h-new-album-bachs-konigin">New album: Bachs Königin</h3>



<p>The album &#8216;Bachs Königin&#8217; will be released later this year.<br>You can already register. Send us an email using the button below,<br>we will notify you when the CD is released.</p>



<div class="wp-container-1 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="mailto: info@hollandbaroque.com">Register</a></div>
</div>
</div></div>



<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>



<div id="collection-component-1650886651899"></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = '/buybutton.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'holland-baroque.myshopify.com',
      storefrontAccessToken: 'c25a3bbfc6a911dc208801bbc8a543eb',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('collection', {
        id: '274482102425',
        node: document.getElementById('collection-component-1650886651899'),
        moneyFormat: '%E2%82%AC%7B%7Bamount_with_comma_separator%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px",
          "width": "calc(25% - 20px)"
        },
        "img": {
          "height": "calc(100% - 15px)",
          "position": "absolute",
          "left": "0",
          "right": "0",
          "top": "0"
        },
        "imgWrapper": {
          "padding-top": "calc(75% + 15px)",
          "position": "relative",
          "height": "0"
        }
      },
      "title": {
        "font-family": "Montserrat, sans-serif",
        "font-size": "20px",
        "color": "#000000"
      },
      "button": {
        "font-family": "Montserrat, sans-serif",
        ":hover": {
          "background-color": "#000000"
        },
        "background-color": "#000000",
        ":focus": {
          "background-color": "#000000"
        },
        "border-radius": "0px"
      },
      "price": {
        "font-family": "Montserrat, sans-serif",
        "color": "#000000"
      },
      "compareAt": {
        "font-family": "Montserrat, sans-serif",
        "color": "#000000"
      },
      "unitPrice": {
        "font-family": "Montserrat, sans-serif",
        "color": "#000000"
      }
    },
    "buttonDestination": "modal",
    "contents": {
      "options": false
    },
    "text": {
      "button": "More info"
    },
    "googleFonts": [
      "Montserrat"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Montserrat, sans-serif",
        ":hover": {
          "background-color": "#000000"
        },
        "background-color": "#000000",
        ":focus": {
          "background-color": "#000000"
        },
        "border-radius": "0px"
      },
      "title": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "bold",
        "font-size": "30px",
        "color": "#000000"
      },
      "price": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal",
        "font-size": "18px",
        "color": "#000000"
      },
      "compareAt": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#000000"
      },
      "unitPrice": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#000000"
      },
      "description": {
        "font-family": "Montserrat, sans-serif",
        "color": "#000000"
      }
    },
    "googleFonts": [
      "Montserrat"
    ],
    "text": {
      "button": "In winkelwagen"
    }
  },
  "option": {},
  "cart": {
    "styles": {
      "button": {
        "font-family": "Montserrat, sans-serif",
        ":hover": {
          "background-color": "#000000"
        },
        "background-color": "#000000",
        ":focus": {
          "background-color": "#000000"
        },
        "border-radius": "0px"
      },
      "title": {
        "color": "#000000"
      },
      "header": {
        "color": "#000000"
      },
      "lineItems": {
        "color": "#000000"
      },
      "subtotalText": {
        "color": "#000000"
      },
      "subtotal": {
        "color": "#000000"
      },
      "notice": {
        "color": "#000000"
      },
      "currency": {
        "color": "#000000"
      },
      "close": {
        "color": "#000000",
        ":hover": {
          "color": "#000000"
        }
      },
      "empty": {
        "color": "#000000"
      },
      "noteDescription": {
        "color": "#000000"
      },
      "discountText": {
        "color": "#000000"
      },
      "discountIcon": {
        "fill": "#000000"
      },
      "discountAmount": {
        "color": "#000000"
      }
    },
    "text": {
      "title": "Shopping cart",
      "total": "Total",
      "empty": "Shopping cart is empty",
      "notice": "Shipping costs and discounts will be applied at checkout",
      "button": "Checkout",
      "noteDescription": "Special instructions"
    },
    "contents": {
      "note": true
    },
    "googleFonts": [
      "Montserrat"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Montserrat, sans-serif",
        "background-color": "#000000",
        ":hover": {
          "background-color": "#000000"
        },
        ":focus": {
          "background-color": "#000000"
        }
      }
    },
    "googleFonts": [
      "Montserrat"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#000000"
      },
      "title": {
        "color": "#000000"
      },
      "price": {
        "color": "#000000"
      },
      "fullPrice": {
        "color": "#000000"
      },
      "discount": {
        "color": "#000000"
      },
      "discountIcon": {
        "fill": "#000000"
      },
      "quantity": {
        "color": "#000000"
      },
      "quantityIncrement": {
        "color": "#000000",
        "border-color": "#000000"
      },
      "quantityDecrement": {
        "color": "#000000",
        "border-color": "#000000"
      },
      "quantityInput": {
        "color": "#000000",
        "border-color": "#000000"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>
  </article>
	<div class="block-newsletter-subscribe">
	<span class="block-newsletter-subscribe-title">
		Stay informed	</span>
	<span class="block-newsletter-subscribe-subtitle">
		Sign-up for our monthly newsletter (dutch), have a chance to win a CD	</span>
	<div class="block-support-menu">
		<a class="button"
			href="#newsletter">
			Subscribe		</a>
	</div>
</div>    </div>
  </div>
</div>
