<div class="wp-block-media-text alignwide has-media-on-the-right is-stacked-on-mobile" style="grid-template-columns:auto 42%"><figure class="wp-block-media-text__media"><img loading="lazy" width="1200" height="1195" src="<%=content.image%>" alt="Slk Baroque" class="wp-image-1469 size-full"  sizes="(max-width: 1200px) 100vw, 1200px"></figure><div class="wp-block-media-text__content">
<h2><%=content.title%></h2>



<p><em>“<em>De achttiende-eeuwse meesterwerken van Telemann, Vivaldi en Rameau zijn hier geen verre echo’s van een dood en geïdealiseerd vroeger, maar moderne manifestaties van levenskracht.”&nbsp;★★★★☆&nbsp;</em>(NRC)</em></p>



<p class="has-normal-font-size">Wu Wei is een virtuoos op de sheng, het Chinese mondorgel dat drieduizend jaar Chinese muziekcultuur oproept en een klein wonder is van harmonie, melodie en ritmische mogelijkheden.  De composities zijn onder anderen van Bach, Telemann en Rameau. Daarnaast bevat het album Chinese traditionele muziek.&nbsp;</p>



<div class="wp-container-1 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://www.hollandbaroque.com/winkel">Bestel nu</a></div>
</div>



<p></p>
</div></div>