<div class="wp-block-media-text alignwide has-media-on-the-right is-stacked-on-mobile" style="grid-template-columns:auto 42%"><figure class="wp-block-media-text__media"><img loading="lazy" width="1200" height="1195" src="<%=content.url%>" alt="<%=content.title%>" class="wp-image-1469 size-full"  sizes="(max-width: 1200px) 100vw, 1200px"></figure><div class="wp-block-media-text__content">
<%=content.content.html_safe%>




<p></p>
</div></div>