<div class="ticker-container">

	<div class="ticker-text"><div style="width: 100000px; transform: translateX(0px); animation: 15.855s linear 0s infinite normal none running marqueeAnimation-4469950;" class="js-marquee-wrapper"><div class="js-marquee" style="margin-right: 50px; float: left;">
					“<%=content.text%>”			</div><div class="js-marquee" style="margin-right: 50px; float: left;">
					“<%=content.text%>”			</div></div></div>

				<div class="ticker-subscript">
				<%=content.subscript%>			</div>
			
</div>