<div class="pages-grid-content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        
  <article class="page-content">
    
    <h1>Over ons</h1>
    
<p>Van Bach tot gospel, van jazz tot gregoriaans; Holland Baroque is met haar bijzondere programma’s een graag geziene gast op de (inter)nationale podia en is onder andere winnaar van een Edison. Het ensemble maakt deel uit van de Nederlandse culturele basisinfrastructuur. Sinds haar oprichting zet Holland Baroque zich in voor educatie met Kids Only concerten, haar Samama Fellowship en workshops aan mbo- en hbo-opleidingen.</p>
  </article>
<div class="page-children-wrapper">
  <div class="row">
    
  <div class="page-card col-12 col-md-6">
    <a class="page-card-imageblock" href="/over-ons/over-orkest-holland-baroque/" title="Over Holland Baroque">
      <img class="page-card-image" src="/wp-content/uploads/2022/04/Persfoto-Holland-Baroque-Foto-Wouter-Jansen-2-1-1920x1587.jpg" alt="Over Holland Baroque">
    </a>
    <div class="page-card-innerblock">
      <h2 class="page-card-title">
        <a href="/over-ons/over-orkest-holland-baroque/" title="Over Holland Baroque">
          Over Holland Baroque        </a>
      </h2>
      <p>Het ensemble slaat met zijn vrije en open-minded benadering bruggen tussen de meest uiteenlopende stijlen en culturen en speelt daarmee een verbindende rol in de samenleving.</p>
      <a href="/over-ons/over-orkest-holland-baroque/" class="more-link" title="Over Holland Baroque">
        Lees meer      </a>
    </div>
  </div>

  <div class="page-card col-12 col-md-6">
    <a class="page-card-imageblock" href="/musici/" title="Musici">
      <img class="page-card-image" src="/wp-content/uploads/2021/03/171206_5697-1-1920x1280.jpg" alt="Musici">
    </a>
    <div class="page-card-innerblock">
      <h2 class="page-card-title">
        <a href="/musici/" title="Musici">
          Musici        </a>
      </h2>
      <p>Maak kennis met Judith, Tineke, Tomasz, Matteo, Michał, Chloe, Filip, Katarina, Dasa, Emma, Marta, Anna Jane, Stefano, Rodney, Kim en Christoph.</p>
      <a href="/musici/" class="more-link" title="Musici">
        Lees meer      </a>
    </div>
  </div>

  <div class="page-card col-12 col-md-6">
    <a class="page-card-imageblock" href="publiek" title="Publiek">
      <img class="page-card-image" src="/wp-content/uploads/2021/06/Publiek-2-1920x1280.jpg" alt="Publiek">
    </a>
    <div class="page-card-innerblock">
      <h2 class="page-card-title">
        <a href="publiek" title="Publiek">
          Publiek        </a>
      </h2>
      <p>Bezoekers aan het woord. Interviews: Robert van Weperen. Beeld: Wouter Jansen. </p>
      <a href="publiek" class="more-link" title="Publiek">
        Lees meer      </a>
    </div>
  </div>

  <div class="page-card col-12 col-md-6">
    <a class="page-card-imageblock" href="kantoor" title="Kantoor">
      <img class="page-card-image" src="/wp-content/uploads/2021/09/20210906-_MG_1775-Pano-2-1920x1280.jpg" alt="Kantoor">
    </a>
    <div class="page-card-innerblock">
      <h2 class="page-card-title">
        <a href="kantoor" title="Kantoor">
          Kantoor        </a>
      </h2>
      <p>Met een bevlogen team zet Holland Baroque alles op alles om ‘Barok is nu’ bij een groot publiek te brengen. Maak kennis met Luuk, Clara, Fiep, Simone, Emma, Anna, Haru en stagiaires.</p>
      <a href="kantoor" class="more-link" title="Kantoor">
        Lees meer      </a>
    </div>
  </div>

  <div class="page-card col-12 col-md-6">
    <a class="page-card-imageblock" href="/over-ons/partners/" title="Partners">
      <img class="page-card-image" src="/wp-content/uploads/2021/07/Partners-onze-1920x1280.jpg" alt="Partners">
    </a>
    <div class="page-card-innerblock">
      <h2 class="page-card-title">
        <a href="/over-ons/partners/" title="Partners">
          Partners        </a>
      </h2>
      <p>Met partners kan Holland Baroque meer betekenen. Samen werken we aan talentontwikkeling, educatie, muziekonderzoek en verbinden we een breed publiek aan Holland Baroque.</p>
      <a href="/over-ons/partners/" class="more-link" title="Partners">
        Lees meer      </a>
    </div>
  </div>

  <div class="page-card col-12 col-md-6">
    <a class="page-card-imageblock" href="/raad-van-toezicht" title="Raad van Toezicht">
      <img class="page-card-image" src="/wp-content/uploads/2021/02/170422_9359-1920x1280.jpg" alt="Raad van Toezicht">
    </a>
    <div class="page-card-innerblock">
      <h2 class="page-card-title">
        <a href="/raad-van-toezicht" title="Raad van Toezicht">
          Raad van Toezicht        </a>
      </h2>
      <p>Maak kennis met de Raad van Toezicht: Gabriël, Michiel, Jan en Alex.</p>
      <a href="/raad-van-toezicht" class="more-link" title="Raad van Toezicht">
        Lees meer      </a>
    </div>
  </div>

  <div class="page-card col-12 col-md-6">
    <a class="page-card-imageblock" href="/over-ons/perskit/" title="Perskit">
      <img class="page-card-image" src="/wp-content/uploads/2021/06/spot-header-4-1920x823.jpg" alt="Perskit">
    </a>
    <div class="page-card-innerblock">
      <h2 class="page-card-title">
        <a href="/over-ons/perskit/" title="Perskit">
          Perskit        </a>
      </h2>
      <p>Persberichten, persfoto's en biografie</p>
      <a href="/over-ons/perskit/" class="more-link" title="Perskit">
        Lees meer      </a>
    </div>
  </div>

  <div class="page-card col-12 col-md-6">
    <a class="page-card-imageblock" href="/over-ons/concertarchief/" title="Concertarchief">
      <img class="page-card-image" src="/wp-content/uploads/2021/08/leszek_mozdzer_holland_baroque_trasa_koncertowa_obsluga_techniczna_2.png" alt="Concertarchief">
    </a>
    <div class="page-card-innerblock">
      <h2 class="page-card-title">
        <a href="/over-ons/concertarchief/" title="Concertarchief">
          Concertarchief        </a>
      </h2>
      <p>Hier vindt u een overzicht van alle producties van de afgelopen jaren. </p>
      <a href="/over-ons/concertarchief/" class="more-link" title="Concertarchief">
        Lees meer      </a>
    </div>
  </div>
  </div>
</div>	<div class="block-newsletter-subscribe">
	<span class="block-newsletter-subscribe-title">
		Blijf op de hoogte	</span>
	<span class="block-newsletter-subscribe-subtitle">
		Schrijf je in voor onze maandelijkse nieuwsbrief en maak kans op een cd	</span>
	<div class="block-support-menu">
		<a class="button" href="#newsletter">
			Abonneer		</a>
	</div>
</div>      </div>
    </div>
  </div>
</div>