<div class="shop-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        
  <article class="page-content">
    
    <h1>Winkel</h1>
    
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>



<div class="wp-block-media-text alignwide is-stacked-on-mobile" style="grid-template-columns:20% auto"><figure class="wp-block-media-text__media"><img loading="lazy" width="1517" height="1517" src="/wp-content/uploads/2021/10/BK-Vierkant-nieuw-web.jpg" alt="" class="wp-image-5597 size-full" srcset="/wp-content/uploads/2021/10/BK-Vierkant-nieuw-web.jpg 1517w, /wp-content/uploads/2021/10/BK-Vierkant-nieuw-web-1200x1200.jpg 1200w, /wp-content/uploads/2021/10/BK-Vierkant-nieuw-web-250x250.jpg 250w, /wp-content/uploads/2021/10/BK-Vierkant-nieuw-web-768x768.jpg 768w" sizes="(max-width: 1517px) 100vw, 1517px"></figure><div class="wp-block-media-text__content">
<h3 id="h-nieuw-album-bachs-konigin">Nieuw album: Bachs Königin</h3>



<p class="has-normal-font-size">Het album ‘Bachs Königin’ verschijnt later dit jaar.<br>U kunt alvast intekenen. Stuur ons via&nbsp;de knop hieronder&nbsp;een e-mail, <br>dan krijgt u van ons een seintje wanneer de cd uitkomt.</p>



<div class="wp-container-1 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="mailto: info@hollandbaroque.com">Intekenen</a></div>
</div>
</div></div>



<p></p>



<div id="collection-component-1653911456106" class=" shopify-buy-frame shopify-buy-frame--productSet"><iframe horizontalscrolling="no" verticalscrolling="no" allowtransparency="true" frameborder="0" scrolling="no" name="frame-productSet-220837707929" style="width: 100%; overflow: hidden; border: none; height: 6619.09px;"></iframe></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'holland-baroque.myshopify.com',
      storefrontAccessToken: 'c25a3bbfc6a911dc208801bbc8a543eb',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('collection', {
        id: '220837707929',
        node: document.getElementById('collection-component-1653911456106'),
        moneyFormat: '%E2%82%AC%7B%7Bamount_with_comma_separator%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px",
          "width": "calc(25% - 20px)"
        },
        "img": {
          "height": "calc(100% - 15px)",
          "position": "absolute",
          "left": "0",
          "right": "0",
          "top": "0"
        },
        "imgWrapper": {
          "padding-top": "calc(75% + 15px)",
          "position": "relative",
          "height": "0"
        }
      },
      "title": {
        "font-family": "Montserrat, sans-serif",
        "font-size": "20px",
        "color": "#000000"
      },
      "button": {
        "font-family": "Montserrat, sans-serif",
        ":hover": {
          "background-color": "#000000"
        },
        "background-color": "#000000",
        ":focus": {
          "background-color": "#000000"
        },
        "border-radius": "0px",
        "padding-left": "52px",
        "padding-right": "52px"
      },
      "price": {
        "font-family": "Montserrat, sans-serif",
        "color": "#000000"
      },
      "compareAt": {
        "font-family": "Montserrat, sans-serif",
        "color": "#000000"
      },
      "unitPrice": {
        "font-family": "Montserrat, sans-serif",
        "color": "#000000"
      }
    },
    "buttonDestination": "modal",
    "contents": {
      "options": false
    },
    "text": {
      "button": "Meer info"
    },
    "googleFonts": [
      "Montserrat"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Montserrat, sans-serif",
        ":hover": {
          "background-color": "#000000"
        },
        "background-color": "#000000",
        ":focus": {
          "background-color": "#000000"
        },
        "border-radius": "0px",
        "padding-left": "52px",
        "padding-right": "52px"
      },
      "title": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "bold",
        "font-size": "30px",
        "color": "#000000"
      },
      "price": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal",
        "font-size": "18px",
        "color": "#000000"
      },
      "compareAt": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#000000"
      },
      "unitPrice": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#000000"
      },
      "description": {
        "font-family": "Montserrat, sans-serif",
        "color": "#000000"
      }
    },
    "googleFonts": [
      "Montserrat"
    ],
    "text": {
      "button": "In winkelwagen"
    }
  },
  "option": {},
  "cart": {
    "styles": {
      "button": {
        "font-family": "Montserrat, sans-serif",
        ":hover": {
          "background-color": "#000000"
        },
        "background-color": "#000000",
        ":focus": {
          "background-color": "#000000"
        },
        "border-radius": "0px"
      },
      "title": {
        "color": "#000000"
      },
      "header": {
        "color": "#000000"
      },
      "lineItems": {
        "color": "#000000"
      },
      "subtotalText": {
        "color": "#000000"
      },
      "subtotal": {
        "color": "#000000"
      },
      "notice": {
        "color": "#000000"
      },
      "currency": {
        "color": "#000000"
      },
      "close": {
        "color": "#000000",
        ":hover": {
          "color": "#000000"
        }
      },
      "empty": {
        "color": "#000000"
      },
      "noteDescription": {
        "color": "#000000"
      },
      "discountText": {
        "color": "#000000"
      },
      "discountIcon": {
        "fill": "#000000"
      },
      "discountAmount": {
        "color": "#000000"
      }
    },
    "text": {
      "title": "Winkelwagen",
      "total": "Totaal",
      "empty": "Winkelwagen is leeg",
      "notice": "Verzendkosten en kortingscodes worden bij het afrekenen toegepast",
      "button": "Afrekenen",
      "noteDescription": "Speciale instructies"
    },
    "contents": {
      "note": true
    },
    "googleFonts": [
      "Montserrat"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Montserrat, sans-serif",
        "background-color": "#000000",
        ":hover": {
          "background-color": "#000000"
        },
        ":focus": {
          "background-color": "#000000"
        }
      }
    },
    "googleFonts": [
      "Montserrat"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#000000"
      },
      "title": {
        "color": "#000000"
      },
      "price": {
        "color": "#000000"
      },
      "fullPrice": {
        "color": "#000000"
      },
      "discount": {
        "color": "#000000"
      },
      "discountIcon": {
        "fill": "#000000"
      },
      "quantity": {
        "color": "#000000"
      },
      "quantityIncrement": {
        "color": "#000000",
        "border-color": "#000000"
      },
      "quantityDecrement": {
        "color": "#000000",
        "border-color": "#000000"
      },
      "quantityInput": {
        "color": "#000000",
        "border-color": "#000000"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>



<p></p>
  </article>
	<div class="block-newsletter-subscribe">
	<span class="block-newsletter-subscribe-title">
		Blijf op de hoogte	</span>
	<span class="block-newsletter-subscribe-subtitle">
		Schrijf je in voor onze maandelijkse nieuwsbrief en maak kans op een cd	</span>
	<div class="block-support-menu">
		<a class="button" href="#newsletter">
			Abonneer		</a>
	</div>
</div>    </div>
  </div>
</div>

<div class="block-footer">
	<div class="block-footer-address">
		<span>Holland Baroque</span> -
		<a href="tel:+31(0)302751840">+31 (0)30 2751840</a>, 		<a href="mailto:info@hollandbaroque.com">info@hollandbaroque.com</a>, 		Doelenstraat 44 3512 XJ Utrecht 	</div>
			<div class="block-footer-payoff">
			Barok is nu		</div>
	    <div class="block-footer-bottom">
			<div class="block-footer-socials">
											<a class="block-footer-social in" href="https://www.instagram.com/holland.baroque/" title="instagram" target="_blank" rel="noopener noreferrer">
								in							</a>
											<a class="block-footer-social fb" href="https://www.facebook.com/hollandbaroque/" title="facebook" target="_blank" rel="noopener noreferrer">
								fb							</a>
											<a class="block-footer-social tw" href="https://twitter.com/hollandbaroque" title="twitter" target="_blank" rel="noopener noreferrer">
								tw							</a>
											<a class="block-footer-social yt" href="https://www.youtube.com/channel/UCkxEGyPkBRRFgYitVPtJpow" title="youtube" target="_blank" rel="noopener noreferrer">
								yt							</a>
											<a class="block-footer-social li" href="https://www.linkedin.com/company/holland-baroque-society/" title="linkedin" target="_blank" rel="noopener noreferrer">
								li							</a>
											<a class="block-footer-social sf" href="https://open.spotify.com/artist/3RgDcTU4WaY4o15XIisFxl?si=LM0pM7IDS1eFSCPPDTc3og&amp;nd=1" title="spotify" target="_blank" rel="noopener noreferrer">
								sf							</a>
							</div>
			<div class="block-footer-menu">
				<ul id="menu-footermenu" class="nav footer"><li id="menu-item-399" class="menu-item menu-item-type-post_type_archive menu-item-object-concert menu-item-399"><a href="/concerten/">Concerten</a></li>
<li id="menu-item-400" class="menu-item menu-item-type-post_type_archive menu-item-object-postkl menu-item-400"><a href="/kijkenluister/">Kijk &amp; luister</a></li>
<li id="menu-item-401" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-401"><a href="/educatie-talent/">Educatie</a></li>
<li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403"><a href="/over-ons/">Over ons</a></li>
<li id="menu-item-402" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402"><a href="/doe-mee/">Doe mee</a></li>
<li id="menu-item-404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-404"><a href="/nieuws/">Nieuws</a></li>
<li id="menu-item-2103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2103"><a href="/contact/">Contact</a></li>
<li id="menu-item-4882" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4882"><a href="/over-ons/concertarchief/">Concertarchief</a></li>
<li id="menu-item-2105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-2105"><a href="/privacy/">Privacy</a></li>
<li id="menu-item-2106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2106"><a href="/over-ons/perskit/">Perskit</a></li>
</ul>			</div>
			<div class="bottom-line">
			Onze activiteiten worden mede mogelijk gemaakt door een bijdrage van het Ministerie van Onderwijs, Cultuur en Wetenschap en Gemeente Utrecht			</div>
			<!-- <div class="block-footer-paymentoptions">
					VISA
					Mastercard
					iDeal
			</div> -->
    </div>
</div>    <style>.wp-container-1 {display: flex;gap: 0.5em;flex-wrap: wrap;align-items: center;align-items: center;}.wp-container-1 > * { margin: 0; }</style>
<script type="text/javascript" src="/wp-content/themes/hollandbaroque/includes/api/modules/gutenberg/blocks/ticker/theme/jquery.marquee.js?ver=5.9.3" id="marquee-js"></script>
<script type="text/javascript" src="/wp-content/themes/hollandbaroque/includes/api/modules/gutenberg/blocks/ticker/theme/marquee-init.js?ver=5.9.3" id="marquee-init-js"></script>
<script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js?ver=5.9.3" id="swiper-core-scripts-js"></script>
<script type="text/javascript" src="https://unpkg.co/gsap@3/dist/gsap.min.js?ver=5.9.3" id="gsap-core-js"></script>
<script type="text/javascript" src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js?ver=5.9.3" id="gsap-scrolltrigger-js"></script>
<script type="text/javascript" src="https://forms.hollandbaroque.com/webresources/3.0/js/cx.js?ver=5.9.3" id="form-scripts-js"></script>
<script type="text/javascript" src="/wp-content/themes/hollandbaroque/scripts/main.min.js?ver=5.9.3" id="main-scripts-js"></script>

		<!-- Cookie Notice plugin v2.2.1 by Hu-manity.co https://hu-manity.co/ -->
		<div id="cookie-notice" role="dialog" class="cookie-notice-hidden cookie-revoke-hidden cn-position-bottom cn-effect-slide" aria-label="Cookie Notice" style="background-color: rgba(50,50,58,1);"><div class="cookie-notice-container" style="color: #fff;"><span id="cn-notice-text" class="cn-text-container">Holland Baroque gebruikt functionele en analytische cookies voor website optimalisatie en statistieken.</span><span id="cn-notice-buttons" class="cn-buttons-container"><a href="#" id="cn-accept-cookie" data-cookie-set="accept" class="cn-set-cookie cn-button cn-button-custom cookie-button" aria-label="Akkoord">Akkoord</a><a href="#" id="cn-refuse-cookie" data-cookie-set="refuse" class="cn-set-cookie cn-button cn-button-custom cookie-button" aria-label="Niet akkoord">Niet akkoord</a></span><a href="javascript:void(0);" id="cn-close-notice" data-cookie-set="accept" class="cn-close-icon" aria-label="Akkoord"></a></div>
			
		</div>
		<!-- / Cookie Notice plugin -->  
</div>