<div class="pageet-content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        
  <article class="page-content">
    
    <h1>Educatie &amp; talent</h1>
    
<p>Holland Baroque zet zich in om barokmuziek toegankelijk te maken voor jong tot oud. Zo kan iedereen onze muziek ervaren. Met kinderen en jongvolwassenen delen we ons enthousiasme ook via educatie en talentontwikkeling.&nbsp;In vier verschillende projecten geven we hier vorm aan.</p>
  </article>
<div class="pageet-children-wrapper">
  <div class="row">
    <div class="pageet-card col-12 col-md-6">
    <a class="pageet-card-imageblock" href="/educatie-talent/samama-fellowship/" title="Samama fellowship">
                <span class="card-tag">
            Audities 16 maart 2022 - aanmeldingen gesloten          </span>
            <img class="pageet-card-image" src="/wp-content/uploads/2021/01/StagaireNIEUW-1920x1280.jpg" alt="Samama fellowship">
    </a>
    <div class="pageet-card-innerblock">
      <h2 class="pageet-card-title">
        <a href="/educatie-talent/samama-fellowship/" title="Samama fellowship">
          Samama fellowship        </a>
      </h2>
                <span class="message">
            Een jaar lang praktijkervaring opdoen bij Holland Baroque.          </span>
              <a href="/educatie-talent/samama-fellowship/" class="more-link" title="Samama fellowship">
          Lees meer        </a>
    </div>
</div><div class="pageet-card col-12 col-md-6">
    <a class="pageet-card-imageblock" href="/educatie-talent/educatie-mbo-hbo/" title="Beroepsonderwijs">
                <span class="card-tag">
            mbo en hbo          </span>
            <img class="pageet-card-image" src="/wp-content/uploads/2021/02/jeswin-thomas-8nHQx4zi9Wk-unsplash-1920x1280.jpg" alt="Beroepsonderwijs">
    </a>
    <div class="pageet-card-innerblock">
      <h2 class="pageet-card-title">
        <a href="/educatie-talent/educatie-mbo-hbo/" title="Beroepsonderwijs">
          Beroepsonderwijs        </a>
      </h2>
                <span class="message">
            Praktische muzikale projecten voor mbo en hbo.          </span>
              <a href="/educatie-talent/educatie-mbo-hbo/" class="more-link" title="Beroepsonderwijs">
          Lees meer        </a>
    </div>
</div><div class="pageet-card col-12 col-md-6">
    <a class="pageet-card-imageblock" href="/educatie-talent/educatie/" title="Kids only">
                <span class="card-tag">
            Primair onderwijs          </span>
            <img class="pageet-card-image" src="/wp-content/uploads/2021/02/100415_7333-1920x1280.jpg" alt="Kids only">
    </a>
    <div class="pageet-card-innerblock">
      <h2 class="pageet-card-title">
        <a href="/educatie-talent/educatie/" title="Kids only">
          Kids only        </a>
      </h2>
                <span class="message">
            Holland Baroque speelt op de basisschool.          </span>
              <a href="/educatie-talent/educatie/" class="more-link" title="Kids only">
          Lees meer        </a>
    </div>
</div><div class="pageet-card col-12 col-md-6">
    <a class="pageet-card-imageblock" href="/educatie-talent/ensemble-in-residence/" title="Ensemble in residence">
                <span class="card-tag">
            2020: Arnhem          </span>
            <img class="pageet-card-image" src="/wp-content/uploads/2021/02/Parkrun-1.jpg" alt="Ensemble in residence">
    </a>
    <div class="pageet-card-innerblock">
      <h2 class="pageet-card-title">
        <a href="/educatie-talent/ensemble-in-residence/" title="Ensemble in residence">
          Ensemble in residence        </a>
      </h2>
                <span class="message">
            Een heel seizoen lang strijken we neer in een stad of regio en omlijsten er onze concerten met diverse activiteiten.          </span>
              <a href="/educatie-talent/ensemble-in-residence/" class="more-link" title="Ensemble in residence">
          Lees meer        </a>
    </div>
</div>  </div>
</div>	<div class="block-newsletter-subscribe">
	<span class="block-newsletter-subscribe-title">
		Blijf op de hoogte	</span>
	<span class="block-newsletter-subscribe-subtitle">
		Schrijf je in voor onze maandelijkse nieuwsbrief en maak kans op een cd	</span>
	<div class="block-support-menu">
		<a class="button" href="#newsletter">
			Abonneer		</a>
	</div>
</div>      </div>
    </div>
  </div>
</div>
