<div class="homepage-header">
	<div class="home-logo">
		<h1>
			<img src="/wp-content/themes/hollandbaroque/images/holland-baroque_logo-wit.svg" alt="Holland Baroque">
		</h1>
	</div>
	<div class="video">
	<div class="sound-toggle muted"></div>
		<video id="video" src="https://player.vimeo.com/progressive_redirect/playback/687972781/rendition/1080p/file.mp4?loc=external&signature=d00d34641d9a6678989d052e03403b3f71ce237f9ada1632ee3a0942578e7fff" autoplay muted playsinline loop class="screen">Your browser does not support the video tag.</video>
	</div>
	<a class="anchor" href="#content" rel="noopener noreferrer"></a>
</div>
<div class="home-content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1">
        <div class="row">
          
<div id="content" class="concert-cards concert-cards-latest col-12" style="order: 1">
  <h2 class="cards-title">Binnenkort</h2>
  <div class="concert-cards-cards">
    <div class="row">
      <a class="card concert-card col-12 col-lg-6" href="/concerten/baroque/" title="Baroque!">
	<div class="concert-card-imageblock center">
		<img class="concert-card-image"
			src="/wp-content/uploads/2022/05/20161111_MG_8604-1200x800.jpg"
			alt="Baroque!" />
</div>
	<div class="concert-card-innerblock">
		<span class="concert-card-date">
				27 augustus		</span>
		<h2 class="concert-card-title">
				Baroque!		</h2>
		<h4 class="concert-card-subtitle">
				Met Erik Bosgraaf (blokfluit)		</h4>
		<div class="concert-card-tags card-tags">
								<span class="card-tag">
							Batenburg					</span>
								</div>
	</div>
</a><a class="card concert-card col-12 col-lg-6" href="/concerten/holland-baroque-theotime-langlois-de-swarte/" title="Holland Baroque en Théotime Langlois de Swarte">
	<div class="concert-card-imageblock center">
		<img class="concert-card-image"
			src="/wp-content/uploads/2022/05/20191218pv_jeanbaptistemillot_02-2-800x1200.jpg"
			alt="Holland Baroque en Théotime Langlois de Swarte" />
</div>
	<div class="concert-card-innerblock">
		<span class="concert-card-date">
				28 sep -  7 okt		</span>
		<h2 class="concert-card-title">
				Holland Baroque en Théotime Langlois de Swarte		</h2>
		<h4 class="concert-card-subtitle">
				Blik op de Italiaanse vioolcultuur		</h4>
		<div class="concert-card-tags card-tags">
								<span class="card-tag">
							7 Locaties					</span>
								</div>
	</div>
</a>    </div>
  </div>
  <div class="concert-cards-archive">
    <a class="more-link" href="/concerten/" title="Alle concerten">
        Alle concerten    </a>
  </div>
</div>
	<div class="block-support-us col-12" style="order: 5">
	<span class="block-support-us-title">
		Ondersteun Holland Baroque	</span>
	<div class="block-support-menu">

					<a class="button blank" href="/doe-mee/" title="Alle opties">
				Alle opties			</a>
		
		<a target="_blank" class="button blank cta" href="#donation" title="Doneer direct">
			Doneer direct		</a>

	</div>
</div>
<div id="content" class="postkl-cards postkl-cards-latest col-12" style="order: 3">
	<h2 class="cards-title">Kijk & Luister</h2>
	<div class="postkl-cards-cards">
		<div class="row">
			<a href="/kijkenluister/lolo-mi-boto/" title="Lolo Mi Boto" class="card postkl-card postkl-card-default col-12 col-lg-4">
	<div class="postkl-card-imageblock">
		<img class="postkl-card-image"
			src="/wp-content/uploads/2022/04/20211119MK3A4032-1200x800.jpg"
			alt="Lolo Mi Boto" />
	</div>

	<div class="postkl-card-innerblock">
			<h2 class="postkl-card-title">
				Lolo Mi Boto			</h2>
			<h4 class="postkl-card-subtitle">
					Met Arturo den Hartog en Lucretia Starke			</h4>
			<div class="postkl-card-tags card-tags">
											<span class="postkl-card-type card-tag uitgelicht">
								uitgelicht							</span>
											<span class="postkl-card-type card-tag videoclip">
								videoclip							</span>
							</div>
	</div>
</a><a href="/kijkenluister/jeanine-de-bique-podium-witteman/" title="Met Jeanine De Bique bij Podium Witteman" class="card postkl-card postkl-card-default col-12 col-lg-4">
	<div class="postkl-card-imageblock">
		<img class="postkl-card-image"
			src="/wp-content/uploads/2022/03/275128821_3251180518439143_4868297914763548978_n.jpeg"
			alt="Met Jeanine De Bique bij Podium Witteman" />
	</div>

	<div class="postkl-card-innerblock">
			<h2 class="postkl-card-title">
				Met Jeanine De Bique bij Podium Witteman			</h2>
			<h4 class="postkl-card-subtitle">
					M'hai resa infelice - G.F Händel			</h4>
			<div class="postkl-card-tags card-tags">
											<span class="postkl-card-type card-tag televisie">
								televisie							</span>
											<span class="postkl-card-type card-tag uitgelicht">
								uitgelicht							</span>
							</div>
	</div>
</a><a href="/kijkenluister/the-birth-of-gospel/" title="The Birth of Gospel" class="card postkl-card postkl-card-default col-12 col-lg-4">
	<div class="postkl-card-imageblock">
		<img class="postkl-card-image"
			src="/wp-content/uploads/2021/12/20211221-2O5A0635-1200x800.jpg"
			alt="The Birth of Gospel" />
	</div>

	<div class="postkl-card-innerblock">
			<h2 class="postkl-card-title">
				The Birth of Gospel			</h2>
			<h4 class="postkl-card-subtitle">
					Online concert met London Community Gospel Choir			</h4>
			<div class="postkl-card-tags card-tags">
											<span class="postkl-card-type card-tag concert">
								concert							</span>
											<span class="postkl-card-type card-tag livestream">
								livestream							</span>
							</div>
	</div>
</a>		</div>
	</div>
	<div class="concert-cards-archive">
		<a class="more-link" href="/kijkenluister/" title="Meer kijk & luister">
			Meer kijk & luister		</a>
	</div>
</div>

          <article class="page-content col-12" style="order: 4">
    
    
    
    <div class="ticker-container">

	<div class="ticker-text">
					Die weg van ontmoeting en symbiose is in de muziek al jaren handelsmerk van Holland Baroque.			</div>

				<div class="ticker-subscript">
				&#8211; Joost Galema (NRC)			</div>
			
</div>
  </article>	<div class="news-cards news-cards-latest col-12" style="order: 0">
	<div class="news-cards-cards news-cards-cards-large">
		<div class="news-card news-card-large">
	<div class="row">
		<a href="/vacature-leden-raad-van-toezicht/" title="Vacature: leden Raad van Toezicht" class="news-card-imageblock col-12 col-md-6 col-lg-7">
			<img class="news-card-image"
				src="/wp-content/uploads/2021/02/170422_9359-1200x800.jpg"
				alt="Vacature: leden Raad van Toezicht" />
		</a>
		<article class="news-card-innerblock col-md-6 col-lg-5">
			<h2 class="news-card-title">
				<a href="/vacature-leden-raad-van-toezicht/" title="Vacature: leden Raad van Toezicht">Vacature: leden Raad van Toezicht</a>
			</h2>
			<p>Per 1 juli 2022 ontstaan er twee vacatures in de Raad van Toezicht.</p>
			<a href="/vacature-leden-raad-van-toezicht/" title="Vacature: leden Raad van Toezicht">Lees meer</a>
		</article>
	</div>
</div>		<div class="row">
			<div class="news-cards-archive col-12">
				<a class="more-link" href="/nieuws/" title="Meer nieuws">
					Meer nieuws				</a>
			</div>
		</div>
  </div>
</div>	<%=render "newsletter"%>
        </div>
      </div>
    </div>
  </div>
</div>
