<div class="pages-grid-content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
                
  <article class="page-content">
    
    <h1>Doe mee</h1>
    
<p class="has-medium-font-size">Holland Baroque plaatst barokmuziek in het hier en nu en legt nieuwe verbindingen in de muziekwereld en daarbuiten. Van concertzaal tot poptempel, van kapel tot buitenfestival; u kunt Holland Baroque overal tegenkomen. Meedoen met Holland Baroque betekent dat u zich verbindt aan een prachtig ensemble en investeert in een toekomst vol nieuwe muziek en inspiratie. Doet u mee als vriend, donateur of sponsor? Barok is nu!</p>
  </article>
<div class="page-children-wrapper">
  <div class="row">
    
  <div class="page-card col-12 col-md-6">
    <a class="page-card-imageblock" href="/doe-mee/zakelijk/" title="Zakelijk">
      <img class="page-card-image" src="/wp-content/uploads/2022/02/OOf64wrA-e1646059866474.jpeg" alt="Zakelijk">
    </a>
    <div class="page-card-innerblock">
      <h2 class="page-card-title">
        <a href="/doe-mee/zakelijk/" title="Zakelijk">
          Zakelijk        </a>
      </h2>
      <a href="/doe-mee/zakelijk/" class="more-link" title="Zakelijk">
        Lees meer      </a>
    </div>
  </div>

  <div class="page-card col-12 col-md-6">
    <a class="page-card-imageblock" href="/doe-mee/particulier/" title="Particulier">
      <img class="page-card-image" src="/wp-content/uploads/2022/02/200927_6321-1200x800-1.jpeg" alt="Particulier">
    </a>
    <div class="page-card-innerblock">
      <h2 class="page-card-title">
        <a href="/doe-mee/particulier/" title="Particulier">
          Particulier        </a>
      </h2>
      <a href="/doe-mee/particulier/" class="more-link" title="Particulier">
        Lees meer      </a>
    </div>
  </div>
  </div>
</div>	<%=render "newsletter"%>
      </div>
    </div>
  </div>
</div>