<div class="news-content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <div class="news-cards news-cards-all row">
  <div class="col-12">
    <h1>Nieuws</h1>
  </div>
      
      
      <div id="NewsCards" class="news-cards-cards col-12" data-paged="1" data-posts-per-page="8" data-link="/index.php?post_type=post">
        <div class="row">
          
                  <div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/vacature-leden-raad-van-toezicht/" title="Vacature: leden Raad van Toezicht">
        <img class="news-card-image" src="/wp-content/uploads/2021/02/170422_9359-1200x800.jpg" alt="Vacature: leden Raad van Toezicht">
        <span class="card-tag">
            06 juli 2022        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/vacature-leden-raad-van-toezicht/" title="Vacature: leden Raad van Toezicht">
            Vacature: leden Raad van Toezicht            </a>
        </h2>
        Per 1 juli 2022 ontstaan er twee vacatures in de Raad van Toezicht.    </div>
</div>
              
                  <div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/livestream-minne-vanuit-polen/" title="Livestream Minne vanuit Polen">
        <img class="news-card-image" src="/wp-content/uploads/2022/06/Bastard_Trio_Holland_Baroque_fot_Tobiasz_Jankowiak-42-1200x800.jpg" alt="Livestream Minne vanuit Polen">
        <span class="card-tag">
            28 juni 2022        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/livestream-minne-vanuit-polen/" title="Livestream Minne vanuit Polen">
            Livestream Minne vanuit Polen            </a>
        </h2>
        Het concert 'Minne' is op 18 juni opgenomen in Poznań, Polen. Kijk het hier terug.    </div>
</div>
              
                  <div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/ontdek-het-nieuwe-concertseizoen/" title="Ontdek het nieuwe concertseizoen">
        <img class="news-card-image" src="/wp-content/uploads/2022/05/171117_8477-2-1200x800.jpg" alt="Ontdek het nieuwe concertseizoen">
        <span class="card-tag">
            16 juni 2022        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/ontdek-het-nieuwe-concertseizoen/" title="Ontdek het nieuwe concertseizoen">
            Ontdek het nieuwe concertseizoen            </a>
        </h2>
        Van de cabarateske chansons van Sven Ratzke tot Italiaanse virtuositeit met de Franse topviolist Théotime Langois de Swarte, Rameau met…    </div>
</div>
              
                  <div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/minne-is-hollandse-nieuwe-bij-passaggio/" title="Minne is Hollandse Nieuwe! bij Passaggio">
        <img class="news-card-image" src="/wp-content/uploads/2022/03/5187002_cover-2-1200x1200.jpg" alt="Minne is Hollandse Nieuwe! bij Passaggio">
        <span class="card-tag">
            06 juni 2022        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/minne-is-hollandse-nieuwe-bij-passaggio/" title="Minne is Hollandse Nieuwe! bij Passaggio">
            Minne is Hollandse Nieuwe! bij Passaggio            </a>
        </h2>
        Vanaf vanavond is Minne de Hollandse Nieuwe in het radioprogramma Passaggio Late Night op NPO Radio 4. Minne is het nieuwe album van Holland Baroque en Bastarda Trio, de bekroonde Poolse folk-jazzgroep met klarinet, cello en contrabasklarinet.    </div>
</div>
              
                  <div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/documentaire-barok-in-paramaribo-zondag-bij-ntr/" title="Documentaire Barok in Paramaribo bij NTR">
        <img class="news-card-image" src="/wp-content/uploads/2022/05/Judith-Suriname-1200x800.jpeg" alt="Documentaire Barok in Paramaribo bij NTR">
        <span class="card-tag">
            27 mei 2022        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/documentaire-barok-in-paramaribo-zondag-bij-ntr/" title="Documentaire Barok in Paramaribo bij NTR">
            Documentaire Barok in Paramaribo bij NTR            </a>
        </h2>
        Holland Baroque reisde in mei naar Suriname, samen met twee jonge zangers, Arturo den Hartog en Lucretia Starke.    </div>
</div>
              
                  <div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/update-crowdfund-actie/" title="Crowdfund-actie succesvol afgerond!">
        <img class="news-card-image" src="/wp-content/uploads/2022/04/HollandBaroque-08.05.2022CopyrightCocoDuivenvoorde_9-1200x800.jpg" alt="Crowdfund-actie succesvol afgerond!">
        <span class="card-tag">
            09 mei 2022        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/update-crowdfund-actie/" title="Crowdfund-actie succesvol afgerond!">
            Crowdfund-actie succesvol afgerond!            </a>
        </h2>
        We hebben het gehaald! Holland Baroque is heel blij met alle donaties voor de Kathedrale Koorschool in Paramaribo. We hebben het streefbedrag gehaald, maar giften zijn natuurlijk nog altijd welkom. Hoe meer geld we kunnen meenemen naar Suriname, hoe mooier de muziekzaal zal worden.    </div>
</div>
              
                  <div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/bouw-mee-in-paramaribo/" title="Bouw mee in Paramaribo!">
        <img class="news-card-image" src="/wp-content/uploads/2022/03/HB_projectbeelden_liggend_web2-2-1200x890.jpg" alt="Bouw mee in Paramaribo!">
        <span class="card-tag">
            31 maart 2022        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/bouw-mee-in-paramaribo/" title="Bouw mee in Paramaribo!">
            Bouw mee in Paramaribo!            </a>
        </h2>
        Holland Baroque start een crowdfund-actie voor de School voor Jong Talent in Paramaribo. Wij hebben ons ten doel gesteld om via deze crowdfund-actie 10.000 euro in te zamelen. Kunnen we ook op u rekenen?    </div>
</div>
              
                  <div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/minne/" title="Minne">
        <img class="news-card-image" src="/wp-content/uploads/2022/03/5187002_cover-2-1200x1200.jpg" alt="Minne">
        <span class="card-tag">
            18 maart 2022        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/minne/" title="Minne">
            Minne            </a>
        </h2>
        Nieuw album: Minne. Verrassende interpretaties van eeuwenoude klanken. Welkom in de wonderlijke wereld van orewoet, minne en beminnen.    </div>
</div>
                            <div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/steun-onze-musici/" title="Steun onze musici">
        <img class="news-card-image" src="/wp-content/uploads/2022/01/Basta-Uitsbede-1200x803.jpg" alt="Steun onze musici">
        <span class="card-tag">
            25 januari 2022        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/steun-onze-musici/" title="Steun onze musici">
            Steun onze musici            </a>
        </h2>
        Het online concert 'Minne' wordt u gratis aangeboden. Als blijk van waardering kunt u onze musici steunen met een eenmalige gift.    </div>
</div><div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/holland-baroque-in-gesprek-met-gunay-uslu/" title="Holland Baroque in gesprek met staatssecretaris Gunay Uslu">
        <img class="news-card-image" src="/wp-content/uploads/2022/01/DSC05486-1200x816.jpg" alt="Holland Baroque in gesprek met staatssecretaris Gunay Uslu">
        <span class="card-tag">
            17 januari 2022        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/holland-baroque-in-gesprek-met-gunay-uslu/" title="Holland Baroque in gesprek met staatssecretaris Gunay Uslu">
            Holland Baroque in gesprek met staatssecretaris Gunay Uslu            </a>
        </h2>
        Gunay Uslu, de nieuwe staatssecretaris van cultuur, bracht eind vorige week een bezoek aan TivoliVredenburg. Tijdens haar kennismaking sprak ze ook met Judith en Tineke Steenbrink van Holland Baroque, die daar aan het repeteren waren voor het nieuwe programma Minne.    </div>
</div><div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/the-birth-of-gospel/" title="Kersttour: The Birth of Gospel">
        <img class="news-card-image" src="/wp-content/uploads/2021/10/PV-Birth-of-Gospel-BASIS-43-kleiner-scaled-e1635398704837-1200x902.jpg" alt="Kersttour: The Birth of Gospel">
        <span class="card-tag">
            14 oktober 2021        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/the-birth-of-gospel/" title="Kersttour: The Birth of Gospel">
            Kersttour: The Birth of Gospel            </a>
        </h2>
        Gospel, baroque en kerst. Oftewel The Birth of Gospel! Holland Baroque en het fameuze London Community Gospel Choir volgen het pad terug naar de eerste gospelsongs en vieren Kerstmis volgens oude tradities in een fonkelnieuwe combinatie. 

Concerten: Utrecht (21 december) en Arnhem (22 december).    </div>
</div><div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/holland-baroque-lid-van-rema/" title="Holland Baroque lid van REMA">
        <img class="news-card-image" src="/wp-content/uploads/2021/04/Publiek-2-1200x800.jpg" alt="Holland Baroque lid van REMA">
        <span class="card-tag">
            21 april 2021        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/holland-baroque-lid-van-rema/" title="Holland Baroque lid van REMA">
            Holland Baroque lid van REMA            </a>
        </h2>
        Holland Baroque is nu lid van 'Réseau Européen de Musique Ancienne' (REMA), ook bekend als 'European Early Music Network'. Hierbij dragen wij bij aan de toekomst van oude muziek. Wij zullen onze ideeën delen, partnerships bouwen en collega’s helpen.    </div>
</div><div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/brabant-1653-bestel-hem-nu/" title="Brabant 1653: Bestel nu!">
        <img class="news-card-image" src="/wp-content/uploads/2021/02/Cover-Brabant-4-3-1200x900.jpg" alt="Brabant 1653: Bestel nu!">
        <span class="card-tag">
            22 februari 2021        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/brabant-1653-bestel-hem-nu/" title="Brabant 1653: Bestel nu!">
            Brabant 1653: Bestel nu!            </a>
        </h2>
        Holland Baroque verkent samen met zes solisten de monastieke muzikale tradities van het 17de-eeuwse Noord-Brabant. Brabant 1653 onthult verborgen pareltjes uit de Nederlandse muziekgeschiedenis.    </div>
</div><div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/speuren-in-brabants-muzikale-schatkamer2/" title="Speuren in Brabants muzikale schatkamer">
        <img class="news-card-image" src="/wp-content/uploads/2021/02/210219_0905-1200x900.jpg" alt="Speuren in Brabants muzikale schatkamer">
        <span class="card-tag">
            21 februari 2021        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/speuren-in-brabants-muzikale-schatkamer2/" title="Speuren in Brabants muzikale schatkamer">
            Speuren in Brabants muzikale schatkamer            </a>
        </h2>
        Al jarenlang breken de zussen Tineke en Judith Steenbrink, artistiek leiders van Holland Baroque, een lans voor de muziek van Benedictus à Sancto Josepho.    </div>
</div><div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/koning-opent-jaar-van-brabantskloosterleven/" title="Koning opent jaar van Brabants Kloosterleven">
        <img class="news-card-image" src="/wp-content/uploads/2021/02/persfoto-brabant-1653-2-1200x800.jpg" alt="Koning opent jaar van Brabants Kloosterleven">
        <span class="card-tag">
            08 februari 2021        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/koning-opent-jaar-van-brabantskloosterleven/" title="Koning opent jaar van Brabants Kloosterleven">
            Koning opent jaar van Brabants Kloosterleven            </a>
        </h2>
        Het jaar wordt op 10 februari officieel door koning Willem-Alexander geopend en Holland Baroque zal ook spelen. De opening zal uitgezonden worden via een livestream op de website van www.brabantskloosterleven.nl    </div>
</div><div class="news-card news-card-default col-12 col-md-6">
    <a class="news-card-imageblock" href="/nieuw-polonoise-bestel-hem-nu/" title="Nieuw album Polonoise">
        <img class="news-card-image" src="/wp-content/uploads/2021/01/Cover-Polonoise4-3-1-1200x900.jpg" alt="Nieuw album Polonoise">
        <span class="card-tag">
            11 december 2020        </span>
    </a>
    <div class="news-card-innerblock">
        <h2 class="news-card-title">
            <a href="/nieuw-polonoise-bestel-hem-nu/" title="Nieuw album Polonoise">
            Nieuw album Polonoise            </a>
        </h2>
        Holland Baroque presenteert samen met het label PENTATONE een nieuw album: Polonoise. Te gast op dit album vol Poolse dansen en concerti van Telemann is violiste Aisslinn Nosky.     </div>
</div><button id="MoreNewsButton" data-found="19" class="more-news-button show">
                <%=t("onpages.seemore")%>              </button></div>         
        <span id="noNews" class="no-news-message">
          No results
        </span>
        </div>
        </div>      </div>
    </div>
  </div>
</div>