<div class="concerts-archive-content">
  <div class="container">
    <div class="row">

      <div class="title-wrapper col-12 col-lg-10 offset-lg-1">
        <h1>Concertarchief</h1>
      </div>

      

      
        <%=render collection: @concerts,as: :concert, partial: "overons/concert"%>


      
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1">
      	<%=render "newsletter"%>    </div>
  </div>
</div>