<div class="concerts-archive-content">
  <div class="container">
    <div class="row">

      <div class="title-wrapper col-12 col-lg-10 offset-lg-1">
        <h1>Concertarchief</h1>
      </div>

      

      
        <%=render collection: @concerts,as: :concert, partial: "overons/concert"%>


      
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1">
      	<div class="block-newsletter-subscribe">
	<span class="block-newsletter-subscribe-title">
		Blijf op de hoogte	</span>
	<span class="block-newsletter-subscribe-subtitle">
		Schrijf je in voor onze maandelijkse nieuwsbrief en maak kans op een cd	</span>
	<div class="block-support-menu">
		<a class="button"
			href="#newsletter">
			Abonneer		</a>
	</div>
</div>    </div>
  </div>
</div>