
<div class="pages-grid-content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        
  <article class="page-content">
    
    <h1><%=@page.title%></h1>
    
<%=simple_format(@page.intro, {}, wrapper_tag: "p")%>  
</article>
<div class="page-children-wrapper">
  <div class="row">
    
  
<%=render collection: @posts, partial: "overons/pagecard", as: :post%>
  </div>

  
  </div>
</div>	<div class="block-newsletter-subscribe">
	<span class="block-newsletter-subscribe-title">
		Blijf op de hoogte	</span>
	<span class="block-newsletter-subscribe-subtitle">
		Schrijf je in voor onze maandelijkse nieuwsbrief en maak kans op een cd	</span>
	<div class="block-support-menu">
		<a class="button"
			href="#newsletter">
			Abonneer		</a>
	</div>
</div>      </div>
    </div>
  </div>
</div>
