
  <div class="page-header single-header page-content-header">
    <div class="page-header-visual">
      <img class="concert-card-image"
        src="https://www.hollandbaroque.com/wp-content/uploads/2021/07/Partners-onze-1920x1280.jpg"
        alt="Our partners" />
    </div>
    <div class="page-header-content">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1">
                      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="single-page-content">

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        
  <article class="page-content">
    
    <h1>Our partners</h1>
    
<p>Our donors and sponsors support us not only financially, but also personally. The support that donors and sponsors form is important for our right to exist. Are you in?</p>



<div class="wp-block-columns">
<div class="wp-block-column">
<div class="wp-container-1 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://hollandbaroque.com/en/support-us/corporate-sponsoring//">Join us!</a></div>
</div>
</div>



<div class="wp-block-column"></div>
</div>



<p>Connection is in Holland Baroque&#8217;s blood. That is why we attach great importance to a good network. Of course, music plays a major role in our sponsor relationships. Because we give concerts throughout the year in almost all Dutch provinces, there is a project for every organization that is suitable for a great ollaboration. These organizations subscribe to our motto &#8216;Baroque is now&#8217;:</p>



<div class="wp-block-columns">
<div class="wp-block-column">
<figure class="wp-block-image size-large"><img loading="lazy" width="400" height="400" src="https://hollandbaroque.com/wp-content/uploads/2021/04/OCWhuislogovierkant.jpg" alt="" class="wp-image-2886" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/OCWhuislogovierkant.jpg 400w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/OCWhuislogovierkant-250x250.jpg 250w" sizes="(max-width: 400px) 100vw, 400px" /></figure>
</div>



<div class="wp-block-column">
<figure class="wp-block-image size-large"><img loading="lazy" width="400" height="400" src="https://hollandbaroque.com/wp-content/uploads/2021/04/Koninklijkhuislogovierkant.jpg" alt="" class="wp-image-2883" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/Koninklijkhuislogovierkant.jpg 400w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/Koninklijkhuislogovierkant-250x250.jpg 250w" sizes="(max-width: 400px) 100vw, 400px" /></figure>
</div>



<div class="wp-block-column">
<figure class="wp-block-image size-large"><img loading="lazy" width="400" height="400" src="https://hollandbaroque.com/wp-content/uploads/2021/04/Gemeentehuislogovierkant.jpg" alt="" class="wp-image-2889" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/Gemeentehuislogovierkant.jpg 400w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/Gemeentehuislogovierkant-250x250.jpg 250w" sizes="(max-width: 400px) 100vw, 400px" /></figure>
</div>



<div class="wp-block-column">
<figure class="wp-block-image size-large"><img loading="lazy" width="400" height="400" src="https://hollandbaroque.com/wp-content/uploads/2021/04/Remaloogovierkant.jpg" alt="" class="wp-image-2898" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/Remaloogovierkant.jpg 400w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/Remaloogovierkant-250x250.jpg 250w" sizes="(max-width: 400px) 100vw, 400px" /></figure>
</div>
</div>



<div class="wp-block-columns">
<div class="wp-block-column" style="flex-basis:100%">
<div class="wp-block-columns">
<div class="wp-block-column" style="flex-basis:100%">
<div class="wp-block-columns">
<div class="wp-block-column">
<figure class="wp-block-image size-large"><a href="https://kfhein.nl/" target="_blank" rel="noopener"><img loading="lazy" width="500" height="500" src="https://hollandbaroque.com/wp-content/uploads/2021/04/kfh-liggend-rgb.jpg" alt="" class="wp-image-2734" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/kfh-liggend-rgb.jpg 500w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/kfh-liggend-rgb-250x250.jpg 250w" sizes="(max-width: 500px) 100vw, 500px" /></a></figure>
</div>



<div class="wp-block-column">
<figure class="wp-block-image size-large"><img loading="lazy" width="400" height="400" src="https://hollandbaroque.com/wp-content/uploads/2021/04/Fentenerlogovierkant-1.jpg" alt="" class="wp-image-2892" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/Fentenerlogovierkant-1.jpg 400w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/Fentenerlogovierkant-1-250x250.jpg 250w" sizes="(max-width: 400px) 100vw, 400px" /></figure>
</div>



<div class="wp-block-column">
<figure class="wp-block-image size-large"><img loading="lazy" width="400" height="400" src="https://hollandbaroque.com/wp-content/uploads/2021/04/Bernardlogoogovierkant.jpg" alt="" class="wp-image-2895" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/Bernardlogoogovierkant.jpg 400w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/Bernardlogoogovierkant-250x250.jpg 250w" sizes="(max-width: 400px) 100vw, 400px" /></figure>
</div>



<div class="wp-block-column">
<figure class="wp-block-image size-large"><a href="https://keeseijrondfonds.nl/" target="_blank" rel="noopener"><img loading="lazy" width="500" height="500" src="https://hollandbaroque.com/wp-content/uploads/2021/04/logo-kef.png" alt="" class="wp-image-2754" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/logo-kef.png 500w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/logo-kef-250x250.png 250w" sizes="(max-width: 500px) 100vw, 500px" /></a></figure>
</div>
</div>



<div class="wp-block-columns">
<div class="wp-block-column">
<figure class="wp-block-image size-large"><a href="https://www.willemhaitsma.nl/" target="_blank" rel="noopener"><img loading="lazy" width="500" height="500" src="https://hollandbaroque.com/wp-content/uploads/2021/04/willem.png" alt="" class="wp-image-2925" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/willem.png 500w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/willem-250x250.png 250w" sizes="(max-width: 500px) 100vw, 500px" /></a></figure>
</div>



<div class="wp-block-column">
<figure class="wp-block-image size-large"><a href="https://www.bwhontwerpers.nl/"><img loading="lazy" width="400" height="400" src="https://hollandbaroque.com/wp-content/uploads/2021/05/BWH-tLogovierkant.jpg" alt="" class="wp-image-3626" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/05/BWH-tLogovierkant.jpg 400w, https://www.hollandbaroque.com/wp-content/uploads/2021/05/BWH-tLogovierkant-250x250.jpg 250w" sizes="(max-width: 400px) 100vw, 400px" /></a></figure>
</div>



<div class="wp-block-column">
<figure class="wp-block-image size-large"><img loading="lazy" width="400" height="400" src="https://hollandbaroque.com/wp-content/uploads/2021/04/GravinvanLogovierkant-1.jpg" alt="" class="wp-image-2917" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/GravinvanLogovierkant-1.jpg 400w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/GravinvanLogovierkant-1-250x250.jpg 250w" sizes="(max-width: 400px) 100vw, 400px" /></figure>
</div>



<div class="wp-block-column">
<figure class="wp-block-image size-large"><a href="https://noortgassler.nl/" target="_blank" rel="noopener"><img loading="lazy" width="400" height="400" src="https://hollandbaroque.com/wp-content/uploads/2021/04/NoortLogovierkant.jpg" alt="" class="wp-image-2921" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/NoortLogovierkant.jpg 400w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/NoortLogovierkant-250x250.jpg 250w" sizes="(max-width: 400px) 100vw, 400px" /></a></figure>
</div>
</div>



<div class="wp-block-columns">
<div class="wp-block-column">
<figure class="wp-block-image size-large"><a href="https://hetkersjesfonds.nl/" target="_blank" rel="noopener"><img loading="lazy" width="400" height="400" src="https://hollandbaroque.com/wp-content/uploads/2021/04/Kertjesfonsogovierkant.jpg" alt="" class="wp-image-2901" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/Kertjesfonsogovierkant.jpg 400w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/Kertjesfonsogovierkant-250x250.jpg 250w" sizes="(max-width: 400px) 100vw, 400px" /></a></figure>
</div>



<div class="wp-block-column">
<figure class="wp-block-image size-large"><a href="https://www.koncon.nl/" target="_blank" rel="noopener"><img loading="lazy" width="400" height="400" src="https://hollandbaroque.com/wp-content/uploads/2021/04/Kocconogovierkant.jpg" alt="" class="wp-image-2904" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/Kocconogovierkant.jpg 400w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/Kocconogovierkant-250x250.jpg 250w" sizes="(max-width: 400px) 100vw, 400px" /></a></figure>
</div>



<div class="wp-block-column">
<figure class="wp-block-image size-large"><img loading="lazy" width="400" height="400" src="https://hollandbaroque.com/wp-content/uploads/2021/04/VSBlogovierkant.jpg" alt="" class="wp-image-2877" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/VSBlogovierkant.jpg 400w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/VSBlogovierkant-250x250.jpg 250w" sizes="(max-width: 400px) 100vw, 400px" /></figure>
</div>



<div class="wp-block-column">
<figure class="wp-block-image size-large"><img loading="lazy" width="400" height="400" src="https://hollandbaroque.com/wp-content/uploads/2021/04/ResourceLnogovierkant.jpg" alt="" class="wp-image-2908" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/ResourceLnogovierkant.jpg 400w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/ResourceLnogovierkant-250x250.jpg 250w" sizes="(max-width: 400px) 100vw, 400px" /></figure>
</div>
</div>



<div class="wp-block-columns">
<div class="wp-block-column">
<figure class="wp-block-image size-large"><a href="https://www.janivostichting.nl/" target="_blank" rel="noopener"><img loading="lazy" width="400" height="400" src="https://hollandbaroque.com/wp-content/uploads/2021/04/Janivonogovierkant.jpg" alt="" class="wp-image-2911" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/Janivonogovierkant.jpg 400w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/Janivonogovierkant-250x250.jpg 250w" sizes="(max-width: 400px) 100vw, 400px" /></a></figure>
</div>



<div class="wp-block-column">
<figure class="wp-block-image size-large"><a href="https://www.bylandtstichting.nl/" target="_blank" rel="noopener"><img loading="lazy" width="400" height="400" src="https://hollandbaroque.com/wp-content/uploads/2021/04/GravinvanLogovierkant.jpg" alt="" class="wp-image-2914" srcset="https://www.hollandbaroque.com/wp-content/uploads/2021/04/GravinvanLogovierkant.jpg 400w, https://www.hollandbaroque.com/wp-content/uploads/2021/04/GravinvanLogovierkant-250x250.jpg 250w" sizes="(max-width: 400px) 100vw, 400px" /></a></figure>
</div>



<div class="wp-block-column"></div>



<div class="wp-block-column"></div>
</div>
</div>
</div>
</div>
</div>
  </article>
	<div class="block-newsletter-subscribe">
	<span class="block-newsletter-subscribe-title">
		Stay informed	</span>
	<span class="block-newsletter-subscribe-subtitle">
		Sign-up for our monthly newsletter (dutch), have a chance to win a CD	</span>
	<div class="block-support-menu">
		<a class="button"
			href="#newsletter">
			Subscribe		</a>
	</div>
</div>    </div>
  </div>
</div>
