
  <div class="page-header single-header page-content-header">
    <div class="page-header-visual">
      <img class="concert-card-image"
        src="https://www.hollandbaroque.com/wp-content/uploads/2021/06/spot-header-4-1920x823.jpg"
        alt="Perskit" />
    </div>
    <div class="page-header-content">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1">
                      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="single-page-content">

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        
  <article class="page-content">
    
    <h1>Perskit</h1>
    
<div style="height:172px" aria-hidden="true" class="wp-block-spacer"></div>



<div class="wp-block-columns">
<div class="wp-block-column">
<h3 id="h-logo-holland-baroque">Logo Holland Baroque</h3>
</div>



<div class="wp-block-column">
<div class="wp-container-1 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://www.hollandbaroque.com/wp-content/uploads/2022/03/HB_logo_groot-1.png">Download Logo</a></div>
</div>
</div>



<div class="wp-block-column"></div>
</div>



<div class="wp-block-columns">
<div class="wp-block-column">
<h3 id="h-projectbeelden-seizoen-22-23">Projectbeelden seizoen 22-23</h3>
</div>



<div class="wp-block-column">
<div class="wp-container-2 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://www.hollandbaroque.com/wp-content/uploads/2022/07/Liggend.zip" target="_blank" rel="noreferrer noopener">Download Liggend</a></div>
</div>
</div>



<div class="wp-block-column">
<div class="wp-container-3 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://www.hollandbaroque.com/wp-content/uploads/2022/07/Staand.zip">Download Staand</a></div>
</div>
</div>
</div>



<div class="wp-block-columns">
<div class="wp-block-column">
<h3 id="h-persbericht-album-minne">Persbericht: <br>Album Minne</h3>
</div>



<div class="wp-block-column">
<div class="wp-container-4 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://www.hollandbaroque.com/wp-content/uploads/2022/03/Persbericht-Album-Minne.pdf" target="_blank" rel="noreferrer noopener">Download Persbericht</a></div>
</div>
</div>



<div class="wp-block-column">
<div class="wp-container-5 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://www.hollandbaroque.com/wp-content/uploads/2022/01/Persfotos-Minne.zip">Download Persfoto&#8217;s</a></div>
</div>
</div>
</div>



<div class="wp-block-columns">
<div class="wp-block-column">
<h4 id="h-foto-s-holland-baroque-algemeen" style="font-size:24px">Foto&#8217;s Holland Baroque Algemeen</h4>



<p>Foto&#8217;s: Wouter Jansen</p>
</div>



<div class="wp-block-column">
<div class="wp-container-6 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://www.hollandbaroque.com/wp-content/uploads/2022/04/Persfototos-Holland-Baroque-Fotos-Wouter-Jansen.zip">Download Highres       </a></div>
</div>
</div>



<div class="wp-block-column">
<div class="wp-container-7 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://www.hollandbaroque.com/wp-content/uploads/2022/04/Persfotos-Holland-Baroque-lowres-Foto-Wouter-Jansen-2.zip">Download Lowres      </a></div>
</div>
</div>
</div>



<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<div class="video-media"><iframe loading="lazy" title="Bastarda Trio &amp; Holland Baroque - Minne (teaser livestream January 2022)" width="500" height="281" src="https://www.youtube.com/embed/3tZvw8xTfSU?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div></figure>



<div class="wp-block-columns">
<div class="wp-block-column">
<h3 id="h-meer-informatie">Meer informatie:</h3>



<p><strong>Simone Lensink</strong><br>Marketing manager<br><a href="simone@hollandbaroque.com">simone@hollandbaroque.com</a><br><a href="http://+31 (0)6 2620 2380">+31 (0)6 2620 2380</a></p>
</div>
</div>



<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<div class="video-media"><iframe loading="lazy" title="Holland Baroque - Behind the Scenes (The Truth)" width="500" height="281" src="https://www.youtube.com/embed/LWmTCpr0KOs?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div></figure>
  </article>
	<div class="block-newsletter-subscribe">
	<span class="block-newsletter-subscribe-title">
		Blijf op de hoogte	</span>
	<span class="block-newsletter-subscribe-subtitle">
		Schrijf je in voor onze maandelijkse nieuwsbrief en maak kans op een cd	</span>
	<div class="block-support-menu">
		<a class="button"
			href="#newsletter">
			Abonneer		</a>
	</div>
</div>    </div>
  </div>
</div>
