<html>
  <head>
   <meta charset="utf-8"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Donaties</title>
    <link rel="stylesheet" href="/webresources/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/webresources/3.0/css/cx.css?version=1.5">
	<link rel="stylesheet" href="/webresources/3.0/surrounding/minimal.css?version=1.42">
	<link rel="stylesheet" href="/webresources/3.0/surrounding/admin.css?version=1.22">
	<link rel="stylesheet" href="/webresources/font_awesome/font-awesome-4.6.3.min.css">
	
	  	<link rel="stylesheet" type="text/css" href="https://hollandbaroque.com/wp-content/themes/hollandbaroque/styles/formulieren.css" />
	
	<script src="/webresources/js/jquery/jquery-2.2.1.min.js"></script>
	<script src="/webresources/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
 	<script src="/webresources/3.0/js/cx.js"></script>	
 	<script>
 		crossmarx.setFocus = function(selector){}; // empty function to override default setFocus
 	</script>
 		

  	
   
  </head>
  <body>
    <div class="content">
      <div class="container-fluid cx_content cx_content-fwp" cx-module="contentwrapper">
	<div class='cx_content-inner'>
		
	

	<h1  class="cx_title1"  data-explanationUrl="">
		Donaties
	</h1>



	

	<div  class="cx_text"  data-explanationUrl="">
		Steun onze musici met een eenmalige donatie!
	</div>



<form id="cx_1" class="cx_form-P7 cx_form" name="main" data-urlIfModified="/engine?service=recordmanager:form:P7//422&amp;cmd=asksave" method="post" action="/engine">
			<input name="form-id" type="hidden" value="1">
		<input name="csrf-key" type="hidden" value="8242624008667978725">
		<input name="submit-number" type="hidden" value="0">
		<!-- XText empty is not visible at this time, because - - no explanation - - -->












	<div id="cx_2" class="row cx_paragraph cx_grid-row cx_paragraph-D18 cx_paragraph-wrapper cx_paragraph-D18-wrapper" >		
		<div class="cx_grid-col" >
						 			
					






<div class="cx_fieldlines " >
	<input type="hidden" name="fieldgroup:1" value="ok">
			





		

 


<div id="cx_marker_line_cx_marker_value_form-P69" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm" >
				
						
		
		
		
			
		
				
				
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									<label class="cx_label" id="cx_label-form:P69" for="form:P69">
						Bedrag keuze <span class="cx_required-mark"></span>
					</label>
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P69" class="cx_widget cx_required cx_widget-form:P69 cx_persistantContent" data-btn-size="0" data-urlOnChange="/engine?modified-field=form:P69&amp;xform=1&amp;x-key=1&amp;xajax-source=fieldgroup">
	 	
	
			
	


<select id="form:P69" class="form-control-sm form-control cx_select cx_autosubmit" name="form:P69" >
										<option label=" " value="null" selected="selected" >
				
			</option>
										<option label="€ 15,-" value="1500" >
				€ 15,-
			</option>
										<option label="€ 25,-" value="2500" >
				€ 25,-
			</option>
										<option label="€ 50,-" value="5000" >
				€ 50,-
			</option>
										<option label="Anders" value="0" >
				Anders
			</option>
			</select>
 
	
		 
		</div>
																	
	</div>
		
	
</div>
				<div id="cx_marker_line_cx_marker_value_form-P70" class="cx_hiddenmarker"></div>
	
			





		

 


<div id="cx_marker_line_cx_marker_value_form-P57" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm" >
				
						
		
		
		
			
		
				
			
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									<label class="cx_label" id="cx_label-form:P57" for="form:P57">
						Voornaam
					</label>
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P57" class="cx_widget cx_widget-form:P57 cx_persistantContent" data-btn-size="0">
	 	
	
			
	



<input type="text" id="form:P57" class="form-control-sm form-control" name="form:P57" value="" > 
	
		 
		</div>
																	
	</div>
		
	
</div>
			





		

 


<div id="cx_marker_line_cx_marker_value_form-P58" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm" >
				
						
		
		
		
			
		
				
			
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									<label class="cx_label" id="cx_label-form:P58" for="form:P58">
						Tussenvoegsel
					</label>
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P58" class="cx_widget cx_widget-form:P58 cx_persistantContent" data-btn-size="0">
	 	
	
			
	



<input type="text" id="form:P58" class="form-control-sm form-control" name="form:P58" value="" > 
	
		 
		</div>
																	
	</div>
		
	
</div>
			





		

 


<div id="cx_marker_line_cx_marker_value_form-P59" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm" >
				
						
		
		
		
			
		
				
			
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									<label class="cx_label" id="cx_label-form:P59" for="form:P59">
						Achternaam
					</label>
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P59" class="cx_widget cx_widget-form:P59 cx_persistantContent" data-btn-size="0">
	 	
	
			
	



<input type="text" id="form:P59" class="form-control-sm form-control" name="form:P59" value="" > 
	
		 
		</div>
																	
	</div>
		
	
</div>
			





		

 


<div id="cx_marker_line_cx_marker_value_form-P60" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm" >
				
						
		
		
		
			
		
				
			
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									<label class="cx_label" id="cx_label-form:P60" for="form:P60">
						E-mailadres
					</label>
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P60" class="cx_widget cx_widget-form:P60 cx_persistantContent" data-btn-size="0">
	 	
	
			
	



<input type="email" id="form:P60" class="form-control-sm form-control" name="form:P60" value="" > 
	
		 
		</div>
																	
	</div>
		
	
</div>
			





		

 


<div id="cx_marker_line_cx_marker_value_form-P61" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm" >
				
						
		
		
		
			
		
				
			
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P61" class="cx_widget cx_widget-form:P61 cx_persistantContent" data-btn-size="0" data-urlOnChange="/engine?modified-field=form:P61&amp;xform=1&amp;x-key=1&amp;xajax-source=fieldgroup">
	 	
	
			
	<div class="form-control-sm form-control-plaintext cx_form-control-plaintext cx_checkbox">
				<input type="checkbox" id="form:P61" name="form:P61" value="true" class="cx_autosubmit">
	<label for="form:P61" class="cx_custom-checkbox"></label>
			<label for="form:P61" class="control-label cx_label-inline form-check-label">
			Ja, ik ontvang graag de digitale nieuwsbrief.
		</label>
	</div> 
	
		 
		</div>
																	
	</div>
		
	
</div>
			





		

 


<div id="cx_marker_line_cx_marker_value_form-P62" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm" >
				
						
		
		
		
			
		
				
			
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P62" class="cx_widget cx_widget-form:P62 cx_persistantContent" data-btn-size="0" data-urlOnChange="/engine?modified-field=form:P62&amp;xform=1&amp;x-key=1&amp;xajax-source=fieldgroup">
	 	
	
			
	<div class="form-control-sm form-control-plaintext cx_form-control-plaintext cx_checkbox">
				<input type="checkbox" id="form:P62" name="form:P62" value="true" class="cx_autosubmit">
	<label for="form:P62" class="cx_custom-checkbox"></label>
			<label for="form:P62" class="control-label cx_label-inline form-check-label">
			Ja, ik ontvang graag ook seizoensbrochures, ansichtkaarten, enz.
		</label>
	</div> 
	
		 
		</div>
																	
	</div>
		
	
</div>
				<div id="cx_marker_line_cx_marker_value_form-P63" class="cx_hiddenmarker"></div>
	
				<div id="cx_marker_line_cx_marker_value_form-P64" class="cx_hiddenmarker"></div>
	
				<div id="cx_marker_line_cx_marker_value_form-P65" class="cx_hiddenmarker"></div>
	
				<div id="cx_marker_line_cx_marker_value_form-P66" class="cx_hiddenmarker"></div>
	
				<div id="cx_marker_line_cx_marker_value_form-P73" class="cx_hiddenmarker"></div>
	
				<div id="cx_marker_line_cx_marker_value_form-P67" class="cx_hiddenmarker"></div>
	
				<div id="cx_marker_line_cx_marker_value_form-P68" class="cx_hiddenmarker"></div>
	
		</div>
	

	<div  class="cx_text"  data-explanationUrl="">
		* verplicht veld
	</div>


 

		

			 		</div>
	</div>

	<div id="cx_3" class="cx_btn-toolbar cx_btn-toolbar-sm" role="group" aria-label="button bar">
						<div class="btn-toolbar">
							

 



<a id="cx_4"  role="button" class="btn btn-success cx_btn btn-sm cx_btn-send cx_submit" href="/engine?service=recordmanager:form:P7//422&cmd=save" aria-label="Versturen" draggable="false" data-changeOnModifiedState="true">
							<span class="cx_icon fa" aria-hidden="true" data-btnName="save"></span> 	
							<span class="cx_btn-label">Versturen</span>
				</a>
					</div>
			</div>

</form>





	</div>
</div>
    </div>
  </body>
</html> 
