
<!-- saved from url=(0052)/donatie?language=nl -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Donaties</title>
    <link rel="stylesheet" href="/donatie_nl_files/bootstrap.min.css">
	<link rel="stylesheet" href="/donatie_nl_files/cx.css">
	<link rel="stylesheet" href="/donatie_nl_files/minimal.css">
	<link rel="stylesheet" href="/donatie_nl_files/admin.css">
	<link rel="stylesheet" href="/donatie_nl_files/font-awesome-4.6.3.min.css">
	
	  	<link rel="stylesheet" type="text/css" href="/donatie_nl_files/formulieren.css">
	<!--
	<script src="/donatie_nl_files/jquery-2.2.1.min.js"></script>
	<script src="/donatie_nl_files/bootstrap.min.js"></script>
 	-->
        <!--<script src="/donatie_nl_files/cx.js"></script>	
 	--><script>
 		crossmarx.setFocus = function(selector){}; // empty function to override default setFocus
 	</script>
 		
<style>


.with_error {
border: 3px solid red;
}

.cx_grid-col label:not(.cx_grid-col .cx_widget .with_error ~ .cx_widget){
  color: red
}

</style>
  	
   <!--
  <script src="/donatie_nl_files/paragraph.js"></script></head>
  --><body style="cursor: default;">
    <div class="content">
      <div class="container-fluid cx_content cx_content-fwp" cx-module="contentwrapper">
	<div class="cx_content-inner">
		
	

	<h1 class="cx_title1" data-explanationurl="">
		Donaties
	</h1>



	

	<div class="cx_text" data-explanationurl="">
		Steun onze musici met een eenmalige donatie!
	</div>



<%=render "form_donation", donation: @donation%>





	</div>
</div>
    </div>
  
 
</body></html>