
<!-- saved from url=(0054)https://forms.hollandbaroque.com/form/vriend_succes.vm -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
   <title>hb</title>
    <link rel="stylesheet" href="./friend_ok.html_files/bootstrap.min.css">
	<link rel="stylesheet" href="./friend_ok.html_files/cx.css">
	<link rel="stylesheet" href="./friend_ok.html_files/minimal.css">
	<link rel="stylesheet" href="./friend_ok.html_files/admin.css">
	<link rel="stylesheet" href="./friend_ok.html_files/font-awesome-4.6.3.min.css">
	
	  	<link rel="stylesheet" type="text/css" href="./friend_ok.html_files/formulieren.css">
	
	<script src="./friend_ok.html_files/jquery-2.2.1.min.js"></script>
	<script src="./friend_ok.html_files/bootstrap.min.js"></script>
 	<script src="./friend_ok.html_files/cx.js"></script>	
 	<script>
 		crossmarx.setFocus = function(selector){}; // empty function to override default setFocus
 	</script>
 		

  	
   
  </head>
  <body>
    <div class="content" style="margin: 10px">
					<div><p>We have received your application, thank you very much for your support. The entered amount will be collected within a few days. 
			After that, the collections take place annually in May. We will always send you a message about this in advance.</p></div>
			</div>
  
 

</body></html>