
<!-- saved from url=(0084)https://forms.hollandbaroque.com/engine?service=recordmanager:form:P5//2373&cmd=save -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
   <title>New Nieuwsbrief</title>
    <link rel="stylesheet" href="./newsletter_ok.html_files/bootstrap.min.css">
	<link rel="stylesheet" href="./newsletter_ok.html_files/cx.css">
	<link rel="stylesheet" href="./newsletter_ok.html_files/minimal.css">
	<link rel="stylesheet" href="./newsletter_ok.html_files/admin.css">
	<link rel="stylesheet" href="./newsletter_ok.html_files/font-awesome-4.6.3.min.css">
	
	  	<link rel="stylesheet" type="text/css" href="./newsletter_ok.html_files/formulieren.css">
	
	<script src="./newsletter_ok.html_files/jquery-2.2.1.min.js"></script>
	<script src="./newsletter_ok.html_files/bootstrap.min.js"></script>
 	<script src="./newsletter_ok.html_files/cx.js"></script>	
 	<script>
 		crossmarx.setFocus = function(selector){}; // empty function to override default setFocus
 	</script>
 		

  	
   
  </head>
  <body>
    <div class="content">
      <div class="container-fluid cx_content cx_content-fwp" cx-module="contentwrapper">
	<div class="cx_content-inner">
		
		

	<div class="alert alert-success" data-explanationurl="">
		<p></p>
<%=t("success.newsletter").html_safe%>
	</div>



	</div>
</div>
    </div>
  
 
</body></html>