
<!-- saved from url=(0056)/nieuwsbrief?language=en -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Nieuwsbrief</title>
    <link rel="stylesheet" href="/saved_resource_en_files/bootstrap.min.css">
	<link rel="stylesheet" href="/saved_resource_en_files/cx.css">
	<link rel="stylesheet" href="/saved_resource_en_files/minimal.css">
	<link rel="stylesheet" href="/saved_resource_en_files/admin.css">
	<link rel="stylesheet" href="/saved_resource_en_files/font-awesome-4.6.3.min.css">
	
	  	<link rel="stylesheet" type="text/css" href="/saved_resource_en_files/formulieren.css">
	
	<script src="/saved_resource_en_files/jquery-2.2.1.min.js"></script>
	<script src="/saved_resource_en_files/bootstrap.min.js"></script>
 	<script src="/saved_resource_en_files/cx.js"></script>	
 	<script>
 		crossmarx.setFocus = function(selector){}; // empty function to override default setFocus
 	</script>
 	<script>jQuery(document).ready(function() { CX.setFocus("#cx_1 :input[name='form:P45']"); });</script>	

  	
   
  <script src="/saved_resource_en_files/paragraph.js"></script></head>
  <body style="cursor: default;">
    <div class="content">
      <div class="container-fluid cx_content cx_content-fwp" cx-module="contentwrapper">
	<div class="cx_content-inner">
		
	

	<h1 class="cx_title1" data-explanationurl="">
		Nieuwsbrief
	</h1>



	

	<div class="cx_text" data-explanationurl="">
		Sign up for our newsletter. We raffle a CD every month among the new registrations.
	</div>



<%=render "form_newsletter", newsletter: @newsletter%>





	</div>
</div>
    </div>
  
 
</body></html>