
<!-- saved from url=(0051)/vriend?language=nl -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Vriend</title>
    <link rel="stylesheet" href="/vriend_nl_files/bootstrap.min.css">
	<link rel="stylesheet" href="/vriend_nl_files/cx.css">
	<link rel="stylesheet" href="/vriend_nl_files/minimal.css">
	<link rel="stylesheet" href="/vriend_nl_files/admin.css">
	<link rel="stylesheet" href="/vriend_nl_files/font-awesome-4.6.3.min.css">
	
	  	<link rel="stylesheet" type="text/css" href="/vriend_nl_files/formulieren.css">
	
	<script src="/vriend_nl_files/jquery-2.2.1.min.js"></script>
	<script src="/vriend_nl_files/bootstrap.min.js"></script>
 	<script src="/vriend_nl_files/cx.js"></script>	
 	<script>
 		crossmarx.setFocus = function(selector){}; // empty function to override default setFocus
 	</script>
 		

  	
   
  <script src="/vriend_nl_files/paragraph.js"></script>
<style>

.hidden {
display:none;
}
.with_error {
border: 3px solid red;
}

.cx_grid-col label:not(.cx_grid-col .cx_widget .with_error ~ .cx_widget){
  color: red
}

</style>
</head>
  <body style="cursor: default;">
    <div class="content">
      <div class="container-fluid cx_content cx_content-fwp" cx-module="contentwrapper">
	<div class="cx_content-inner">
		
	

	<h1 class="cx_title1" data-explanationurl="">
		<%=t('onpages.friend')%>
	</h1>



	

	<div class="cx_text" data-explanationurl="">
		<%=I18n.t('onpages.yes1')%>
	</div>



<%=render "joinus/form_friend", friendship: @friendship%>





	</div>
</div>
    </div>
  
 
</body></html>