<div class="block-newsletter-subscribe">
	<span class="block-newsletter-subscribe-title">
		<%=t('onpages.subscribe1')%>	</span>
	<span class="block-newsletter-subscribe-subtitle">
<%=t('onpages.subscribe2')%>		
	</span>
	<div class="block-support-menu">
		<a class="button"
			href="#newsletter">
			<%=t('onpages.subscribe3')%>		</a>
	</div>
</div> 